@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.t-blue{
    color: #000099;
}

.b-blue{
    background-color: #000099;
}

/* Navigation */

#Navigation nav div ul li a{
    color: #000099 !important;
}


.su-logo{
    width: 80px;
    height: auto;
}



/* Our-Vision */

.our-vision{
    padding-bottom: 50px;
    margin-bottom: 25px;
}

.vision{
    padding: 7% 15%;
    text-align: center;
    line-height: 1.5;
}

/* Announcements */

.anouncements{
    text-align: center;
    margin-bottom: 50px;
}
.anouncements p{
    color: #808080;
    line-height: 1.5;
}

.su-btn{
    padding: 10px 15px;
    background-color: #000099;
    border-radius: 20px;
    letter-spacing: 2px;
}

/* Altar Call */

#alt-call{
    background-color: #f8f8f8;
    margin-bottom: 25px;
}

.alt-image{
    background-image: url("../images/altar-call.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}

.altar-call{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin: 7% 0;
}


.N-life h4{
    text-align: center;
    padding: 5px 3px;
    background-color: #000099;
    border-radius: 15px;
    margin-bottom: 30px;
}

.new-life{
    line-height: 1.5;
    font-size: 1.2rem;
    padding: 7px 5px;
    background-color: #2d2dd3;
}

.follow-up{
        max-width: 80%;
        border-radius: 5px;
        position: relative;
    }

    .follow-up h2 {
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 40px;
        font-weight: bolder;
    }

    

    .form .label {
        display: block;
        margin-bottom: 6px;
        font-weight: bolder;
    }
    .form .input {
    padding: 7px 0 7px 25px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-wrap: 3px;
    outline: none;
    color: gray;
    font-size: 16px;
    }

    .su-btn {
        margin-top: 40px;
        background-color: #000099;
        padding: 10px 12px;
        text-align: center;
        color: #f8f8f8;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
    }

    /* Give-Online */

    /* #give-online{
        margin-top: 25px;
        background-color: #dddddd;
    }

    .card-img{
        width: 100px;
        height: auto;
    } */

    /* Contact Us */

    #contact-us{
        margin: 50px 0;
        padding: 10px;
        background-color: #000099;
        padding-bottom: 25px;
    }

    .contact-heading{
        margin: 25px 0;
        background-color: #fff;
        color: blue;
        padding: 10px 15px;
        border-radius: 25px;
        text-align: center;
        display: inline-block;
        position: relative;
        left: 40%;
    }

    /* Footer */

    #footer{
        text-align: center;
    }

    #footer hr{
        font-weight: 400;
    }
